<%-include('header')-%>


<div class="container ">
    <div class="row justify-content-center ">
        <h3 class="h3 text-muted">Welcome to NOCSTECH Dashboard <strong><%= user.name %> </strong></h3> &nbsp;
      
    </div>

    <div class="row ">
        <div class="col-lg-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sunt quae est commodi unde magni. Unde corrupti error itaque maiores, voluptate perferendis. Repellat, inventore? Officiis unde quas cumque ipsum laborum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, voluptatibus aliquam, totam laudantium fuga corporis modi labore voluptatem quo accusamus at autem eveniet optio nostrum veritatis nisi cum commodi inventore!</p>
        </div>

        <div class="col-lg-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sunt quae est commodi unde magni. Unde corrupti error itaque maiores, voluptate perferendis. Repellat, inventore? Officiis unde quas cumque ipsum laborum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, voluptatibus aliquam, totam laudantium fuga corporis modi labore voluptatem quo accusamus at autem eveniet optio nostrum veritatis nisi cum commodi inventore!</p>
        </div>
        <div class="col-lg-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sunt quae est commodi unde magni. Unde corrupti error itaque maiores, voluptate perferendis. Repellat, inventore? Officiis unde quas cumque ipsum laborum!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, voluptatibus aliquam, totam laudantium fuga corporis modi labore voluptatem quo accusamus at autem eveniet optio nostrum veritatis nisi cum commodi inventore!</p>
            </div>

        
    </div>
</div>


<%-include('footer')-%>